*.o
*.log
*.sqlite
*.sqlitedb
*.tmp
*.swp
*~
*.bak
*.env
*.DS_Store
node_modules/
vendor/
*.old
*.shellcheck
env/
.sandbox/
.lab/
assets/tests/*
target/
.build/
[Bb]in/
[Oo]bj/
ch_*
.ch*
.gemini/
.claude/
.amazon*
